body {
    background-image: url("jonny-mckenna-4igCpD-Lnfg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
    color: rgba(255, 255, 255, 0.847);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.Heading1 {
    margin-top: 2em;
    margin-bottom: 2rem;
} 
   
h1 {
    font-weight: lighter;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), 
    3px 4px 4px rgba(0, 0, 0, 0.15),
    4px 6px 4px rgba(0, 0, 0, 0.2),
    5px 8px 4px rgba(0, 0, 0, 0.25);
}

i {
    font-size: xx-large;
    color: #e1dad9;
}

p#day {
    font-size:1rem;
}


section.WeatherApp-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.SingleDay-Content {
    display: flex;
    flex-direction: Row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media Screen and (max-width:750px){
    div.SingleDay-Content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media Screen and (max-width:555px){
    div.SingleDay-Content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
}


div.Weekly-Content {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media Screen and (max-width: 350px){
    div.Weekly-Content{
        margin: 0.3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;  
    }
}

div.DOW-Graphic, div.DOW-Data{
    text-align: center;
    background-color: #937c7612;
    backdrop-filter: blur(5px);
    min-width: 20vw;
    margin-top: 1rem;
    padding: 1.5rem;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 1px 2px 20px #0f0e0b6f ;
}

@media screen and (max-width:750px) {
    div.DOW-Graphic, div.DOW-Data{
        text-align: center;
        background-color: #937c7612;
        backdrop-filter: blur(5px);
        min-width: 25vw;
        margin: 0.3rem;
        margin-top: 1rem;
        padding: 2rem;
        border: none;
        border-radius: 1.5rem;
        box-shadow: 1px 2px 20px #0f0e0b6f ; 
    }
}
@media screen and (max-width:555px) {
    div.DOW-Graphic, div.DOW-Data{
        text-align: center;
        background-color: #937c7612;
        backdrop-filter: blur(5px);
        min-width: 10vw;
        margin: 0.3rem;
        margin-top: 1rem;
        padding: 2rem;
        border: none;
        border-radius: 1.5rem;
        box-shadow: 1px 2px 20px #0f0e0b6f ; 
    }
}

div.Weekly-Content div.day{
    text-align: center;
    background-color: #937c7612;
    backdrop-filter: blur(5px);
    min-width: 8vw;
    margin: 0.3rem;
    margin-top: 1rem;
    padding: 2rem;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 1px 2px 20px #0f0e0b6f ; 
}


div.DOW-Graphic:hover, div.DOW-Data:hover{ 
    transform: scale(1.2);
}

div.Weekly-Content div.day:hover {
    
    transform:scale(1.2) translateY(-20px);
}
div.DOW-Graphic, div.DOW-Data { 
    transition: all 300ms ease-in-out;
}

div.Weekly-Content div.day {
    transition: all 300ms ease-in-out;
}

@media screen and (max-width: 1208px) {
    div.Weekly-Content div.day{
        text-align: center;
        background-color: #937c7612;
        backdrop-filter: blur(5px);
        min-width: 12vw;
        margin: 0.3rem;
        margin-top: 1rem;
        padding: 2rem;
        border: none;
        border-radius: 1.5rem;
        box-shadow: 1px 2px 20px #0f0e0b6f ; 
    }
}
@media screen and (max-width: 751px) {
    div.Weekly-Content div.day{
        text-align: center;
        background-color: #937c7612;
        backdrop-filter: blur(5px);
        min-width: 25vw;
        margin: 0.3rem;
        margin-top: 1rem;
        padding: 2rem;
        border: none;
        border-radius: 1.5rem;
        box-shadow: 1px 2px 20px #0f0e0b6f ; 
    }
}
@media screen and (max-width: 350px) {
    div.Weekly-Content div.day{
        text-align: center;
        background-color: #937c7612;
        backdrop-filter: blur(5px);
        min-width: 10vw;
        margin: 0.3rem;
        margin-top: 1rem;
        padding: 2rem;
        border: none;
        border-radius: 1.5rem;
        box-shadow: 1px 2px 20px #0f0e0b6f ;  
    }
}


div.PreHumWin-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

